<a id="return-to-top" [matMenuTriggerFor]="mailOptions">
  <img src="assets/elsimg/filtersvg.svg" width="35" style="margin:8px;">
</a>

<mat-menu #mailOptions="matMenu" class="my-menu">
  <div id="filterApp">
    <form [formGroup]="filterFormGroup" (ngSubmit)="submit()" (click)="$event.stopPropagation();">
        <mat-tab-group>
            <mat-tab style="width: 50px;" label="Loans">
                <div mat-menu-item *ngFor="let filter of filters; let i = index">
                    <mat-checkbox  (change)="onChange($event)" [value]="filter.field">{{filter.title}}</mat-checkbox>
                  </div>
            </mat-tab>
            <mat-tab label="Rating">
                <div mat-menu-item *ngFor="let filter of filters; let i = index">
                    <mat-checkbox  (change)="onChange($event)" [value]="filter.field">{{filter.title}}</mat-checkbox>
                  </div>
            </mat-tab>
            <mat-tab label="Occupation">
                <div mat-menu-item *ngFor="let filter of filters; let i = index">
                    <mat-checkbox  (change)="onChange($event)" [value]="filter.field">{{filter.title}}</mat-checkbox>
                  </div>
              </mat-tab>
          </mat-tab-group>
    </form>
  </div>
</mat-menu>
