#return-to-top {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    background:#3E8F78;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/deep/ .mat-menu-content {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    max-width:none;
}

.cdk-overlay-container .mat-menu-panel.my-menu {
    max-width: 400px;
  }

  /deep/ .mat-tab-label {
    min-width: 80px !important;
  }
