<!-- <app-SignalRGroups></app-SignalRGroups> -->
<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <!-- <img src="assets/images/logos/Traansparent_Logo.svg"> -->
        <!-- <img class="logo-icon"  src="./assets/els-logo.png"> -->
        <span class="logo-text">TORNADO</span> 
        <!-- <img class="logo-icon"  src="./assets/els-logo.png"> -->
    </div>

    <div class="buttons">

        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

    </div>

</div>


<div class="navbar-scroll-container"   [ngClass]="fuseConfig.layout.navbar.primaryBackground" fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

    <!-- <div class="user"  fxLayout="column" [ngClass]="fuseConfig.layout.navbar.secondaryBackground">

        <div class="h3 username">{{UserLoginID}}</div>
     
        <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
            <img class="avatar" src="assets/images/avatars/profile.jpg">
        </div>

    </div> -->

    <div class="navbar-content" >
        <fuse-navigation layout="vertical"></fuse-navigation>
    </div>

</div>