<!-- SIDEBAR HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon secondary-text s-36 mr-16">folder</mat-icon>
        <span class="logo-text h2">Import Existing Mapping</span>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<!-- <div class="content py-16" fusePerfectScrollbar> -->
    <div id="register" fxLayout="column">

        <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    
            <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    
                <form name="importForm" [formGroup]="importForm" novalidate (ngSubmit)="submitted()">
                    <mat-form-field>
                        <mat-select formControlName="bankName" placeholderLabel="Select Bank Name" placeholder="Bank Name" #bankList>
                            <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search>
                            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                                {{bank.clientName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="projectName" placeholderLabel="Select Project Name" placeholder="Project Name" #projectList>
                            <mat-select-search [formControl]="projectFilterCtrl"></mat-select-search>
                            <mat-option *ngFor="let bank of filteredBanksProjects | async" [value]="bank">
                                {{bank.projectName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <button mat-raised-button color="accent" class="submit-button" aria-label="Import"
                            [disabled]="importForm.invalid">
                        Import
                    </button>
    
                </form>
    
             
    
            </div>
    
        </div>
    
    </div>
<!-- </div> -->
<!-- / SIDEBAR CONTENT -->
