<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/> -->

<div class="data-table-header">
  <h4 class="title" [textContent]="dataTable.headerTitle"></h4>
  <div class="Add-button-panel" *ngIf="dataTable.IsAddButton">
    <button tabindex="-1" (click)="dataTable.OnAddBtnClick()" 
      matTooltip="Add New" mat-raised-button color="accent">
      
      <mat-icon >add_circle</mat-icon>
      Add New
    </button>
  </div>
  
  <div class="button-panel">


    <!-- <button type="button" (click)="dataTable.reloadItems()" mat-mini-fab>
      <i class="material-icons">
        refresh
      </i>
    </button> -->

    <button (click)="columnSelectorOpen = !columnSelectorOpen; $event.stopPropagation()" tabindex="-1" style="margin-left: 20px;"
      matTooltip="Manage columns" mat-mini-fab>
      <mat-icon >settings</mat-icon>
    </button>
  </div>
  <div class="button-panel">

      <mat-form-field >
        <input type="text" matInput style="float: left;" [(ngModel)]="dataTable.searchText" placeholder="Search"  (keyup)="dataTable.search()" >
      </mat-form-field>

    </div>
    <div class="column-selector-wrapper" (click)="$event.stopPropagation()">
      <div *ngIf="columnSelectorOpen" class="column-selector-box panel panel-default">
        <div *ngIf="dataTable.expandableRows" class="column-selector-fixed-column checkbox">
          <label>
            <mat-checkbox [(ngModel)]="dataTable.expandColumnVisible"></mat-checkbox>
            <span>{{dataTable.translations.expandColumn}}</span>
          </label>
        </div>
        <div *ngIf="dataTable.indexColumn" class="column-selector-fixed-column checkbox">
          <label>
            <mat-checkbox [(ngModel)]="dataTable.indexColumnVisible"></mat-checkbox>
            <span>{{dataTable.translations.indexColumn}}</span>
          </label>
        </div>
        <div *ngIf="dataTable.selectColumn" class="column-selector-fixed-column checkbox">
          <label>
            <mat-checkbox [(ngModel)]="dataTable.selectColumnVisible"></mat-checkbox>
            <span>{{dataTable.translations.selectColumn}}</span>
          </label>
        </div>
        <div *ngFor="let column of dataTable.columns" class="column-selector-column checkbox">
          <label>
            <mat-checkbox [(ngModel)]="column.visible"></mat-checkbox>
            <span style="margin-left: 5px;" [textContent]="column.header"></span>
          </label>
        </div>
      </div>
    </div>
 
</div>
