/* bootstrap override: */

:host ::ng-deep .data-table.table > tbody+tbody {
    border-top: none;
}
:host ::ng-deep .data-table.table td {
    vertical-align: middle;
}

:host ::ng-deep .data-table > thead > tr > th,
:host ::ng-deep .data-table > tbody > tr > td {
	overflow: hidden;
}
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
    text-align: center;
  }

/* I can't use the bootstrap striped table, because of the expandable rows */
:host ::ng-deep .row-odd {
    background-color: white;
}
:host ::ng-deep .row-even {
    background-color:white;

}

.data-table .substitute-rows > tr:hover,
:host ::ng-deep .data-table .data-table-row:hover {
    background-color: white;
}
/* table itself: */

.data-table {
    /* box-shadow: 0 0 15px rgb(236, 236, 236); */
    table-layout: fixed;
}

/* header cells: */

.column-header {
    position: relative;
    height: 40px;
    text-align: center;
}
.expand-column-header {
	width: 50px;
}
.select-column-header {
	width: 50px;
	text-align: center;
}
.index-column-header {
	width: 40px;
}
.column-header.sortable {
    cursor: pointer;
}
.column-header .column-sort-icon {
	float: right;
}
.column-header.resizable .column-sort-icon {
    margin-right: 8px;
}
.column-header .column-sort-icon .column-sortable-icon {
    color: lightgray;
    text-align: center;
}
.column-header .column-resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 100%;
    cursor: col-resize;
    text-align: center;
    
}

/* cover: */

.data-table-box {
    position: relative;
    text-align: center;
}

.loading-cover {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.3);
   top: 0;
}
.headerstyle {
    background-color: #f4511e !important;
    color: #fff !important;
  }