<!-- SIDEBAR HEADER -->

<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-1" style="background: #039be5 !important;" fusePerfectScrollbar>

    <div class="file-details"  [@animate]="{value:'*',params:{delay:'200ms'}}">
        <div  id="register" fxLayout="column">

            <div  id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        
                <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
        
                    <form name="importForm" [formGroup]="importForm" novalidate (ngSubmit)="submitted()">
                        <mat-form-field>
                            <mat-select formControlName="bankName" placeholderLabel="Select Master" placeholder="Select Master Name" #bankList>
                                <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search>
                                <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                                    {{bank.masterTabaleName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                     
        
                        <button mat-raised-button color="accent" class="submit-button" aria-label="Import"
                                [disabled]="importForm.invalid">
                            Import
                        </button>
        
                    </form>
        
                 
        
                </div>
        
            </div>
        
        </div>
   
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
