<div id="dashboard-project" class="page-layout simple fullwidth" fxLayout="column">

  <div class="content-card" style="background-color: white">
    <div class="header" style="height: 45px !important; min-height: 45px !important;" fxLayout="row"
      fxLayoutAlign="start center">

      <button mat-icon-button class="mr-16" [routerLink]="'/dashboard/home'">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div>
        <h2>TORNADO LOGS</h2>
      </div>

    </div>
    <div>
      <div fxLayout="row">
        <div fxFlex="4"></div>
        <mat-form-field fxFlex="30">
          <input autocomplete="off" matInput (keyup)="serchlist($event.target.value)"
            placeholder="Search By File Name  ">
        </mat-form-field>
        <div fxFlex="4"></div>
        <div fxFlex="40" style="padding: 5px">
          <button matTooltip="Search" mat-raised-button color="accent">
            <mat-icon>search</mat-icon>
            Search
          </button>
        </div>



      </div>
    </div>
    <div class="example-header">

    </div>
    <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
      fusePerfectScrollbar>

      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>File Name</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.target_table_name}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="errorCount">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>Error Count</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.noOfError}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>Action</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">

            <div fxFlex="100">
              <button color="accent" fxFlex="50" mat-raised-button matTooltip="View"
                [routerLink]="'/logmanagement/loglist/' + Data.target_table_name">
                <span style="font-weight: 400; font-size: 15px;">View</span>
              </button>

            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let Data; columns: displayedColumns;" class="product" matRipple style="padding: 5px;">
      </mat-row>

    </mat-table>

    <mat-paginator style="padding: 5px; margin-top: 20px;" #paginator [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" [length]="dataSource.filteredData.length">
    </mat-paginator>
  </div>
</div>