<div id="dashboard-project" class="page-layout simple fullwidth" fxLayout="column">

  <div class="content-card" style="background-color: white">
    <div class="header" style="height: 45px !important; min-height: 45px !important;" fxLayout="row"
      fxLayoutAlign="start center">

      <button mat-icon-button class="mr-16" [routerLink]="'/logmanagement/loglist'">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div>
        <h2>{{FileName}}</h2>
      </div>

    </div>
    <div class="example-header">

    </div>
    <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
      fusePerfectScrollbar>

      <ng-container matColumnDef="REF_COL_NAME">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>REF_COL_NAME</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.reF_COL_NAME}}
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="REF_COL_VALUE">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>REF_COL_VALUE</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.reF_COL_VALUE}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="ERRORCOLUMNNAME">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>ERROR COLUMN NAME</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.errorcolumnname}}
          </div>

        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="ERRORCOLUMNDATA">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxShow.gt-md>ERROR COLUMN DATA</mat-header-cell>
        <mat-cell *matCellDef="let Data" fxShow.gt-md>
          <div fxLayout="row" fxFlex="100">
            {{Data.errorcolumndata}}
          </div>

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let Data; columns: displayedColumns;" class="product" matRipple style="padding: 5px;">
      </mat-row>

    </mat-table>

    <mat-paginator style="padding: 5px; margin-top: 20px;" #paginator [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" [length]="dataSource.filteredData.length">
    </mat-paginator>
  </div>
</div>