@import "src/@fuse/scss/fuse";

:host {

    #products {

        .top-bg {
            @include media-breakpoint-down(xs) {
                // height: 240px;
            }
        }

        > .center {

            > .header {

                .search-input-wrapper {
                    max-width: 480px;
                }

                @include media-breakpoint-down(xs) {
                    margin: 8px 0;
                    // height: 192px !important;
                    // min-height: 192px !important;
                    // max-height: 192px !important;
                }
            }
        }
    }

    .products-table {
        flex: 1 1 auto;
        // border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .mat-table{
            background:#039be5 !important;
        }
        .mat-header-cell {
            display:flex;
            justify-content:left;
            //border-right: 1px solid gray;
            font-size: 15px;
           
            color: white;
          }
        .mat-header-row {
            min-height: 30px;
            border: 1px solid gray;
            border-right:0px; 
            border-radius:2px; 
            background-color: #039be5 !important;
            margin: 2px;
        }
        

        .product {
            position: relative;
            cursor: auto;
            // height: 84px;
            //margin: 10px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }
        
        .mat-column-id {
            flex: 0 1 84px;
        }



        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .active-icon {
            border-radius: 50%;
        }
        .product-image {
            width: 120px;
            height: 100px;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, .12);

        }
        
    }
}