<div id="login" class="inner-scroll"  fxLayout="row" fxLayoutAlign="start">


    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">

        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the TORNADO
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            We are a team of experienced Bankers, Technocrats and Analysts with goal to ensure a more financially
            inclusive world for all.We are a Financial Technology company,
            specializing in domain areas of Credit Risk Analytics
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form #f="ngForm" [formGroup]="loginForm" novalidate (ngSubmit)="submitted()">
                <div [hidden]="!message" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <mat-form-field>
                    <input matInput placeholder="User name" formControlName="Username" autocomplete="off">
                    <mat-error *ngIf="loginForm.get('Username').hasError('required')">
                        username is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Password"  autocomplete="off" formControlName="password">
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password-2'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOGIN"
                    [disabled]="loginForm.invalid">
                    LOGIN
                </button>

            </form>



            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register-2'">Create an account</a>
            </div>
        </div>
    </div>
</div>